In [25]:
import pandas as pd
import pickle
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_log_error
from sklearn import linear_model
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
import numpy as np

In [86]:
data = pd.read_csv("Data/new_data.csv")

In [87]:
data.head()

,Title,Author,Reviews,Ratings,Synopsis,Genre,BookCategory,Price,Edition_type,Edition_year
0,The Prisoner's Gold (The Hunters 3),Chris Kuzneski,4.0,8,THE HUNTERS return in their third brilliant no...,Action & Adventure (Books),Action & Adventure,220.00,Paperback,2016
1,Guru Dutt: A Tragedy in Three Acts,Arun Khopkar,3.9,14,A layered portrait of a troubled genius for wh...,Cinema & Broadcast (Books),"Biographies, Diaries & True Accounts",202.93,Paperback,2012
2,Leviathan (Penguin Classics),Thomas Hobbes,4.8,6,"""During the time men live without a common Pow...",International Relations,Humour,299.00,Paperback,1982
3,A Pocket Full of Rye (Miss Marple),Agatha Christie,4.1,13,A handful of grain is found in the pocket of a...,Contemporary Fiction (Books),"Crime, Thriller & Mystery",180.00,Paperback,2017
4,LIFE 70 Years of Extraordinary Photography,Editors of Life,5.0,1,"For seven decades, ""Life"" has been thrilling t...",Photography Textbooks,"Arts, Film & Photography",965.62,Hardcover,2006

In [88]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6237 entries, 0 to 6236
Data columns (total 10 columns):
Title           6237 non-null object
Author          6237 non-null object
Reviews         6237 non-null float64
Ratings         6237 non-null int64
Synopsis        6237 non-null object
Genre           6237 non-null object
BookCategory    6237 non-null object
Price           6237 non-null float64
Edition_type    6237 non-null object
Edition_year    6237 non-null object
dtypes: float64(2), int64(1), object(7)
memory usage: 487.3+ KB

In [89]:
import category_encoders as ce

In [90]:
data = data.drop(columns=['Title', 'Synopsis', 'Edition_year','BookCategory', 'Genre', 'Author'])

In [91]:
Y = data['Price']

In [92]:
X = data.drop(columns=['Price'])

In [93]:
ce_bin = ce.BinaryEncoder(cols = ['Edition_type'])
X = ce_bin.fit_transform(X, Y)

In [94]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state=42)

In [95]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((4989, 7), (1248, 7), (4989,), (1248,))

In [226]:
reg_model = DecisionTreeRegressor(max_depth=30)

In [227]:
reg_model.fit(x_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=30, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [228]:
np.sqrt(mean_squared_log_error(y_train, reg_model.predict(x_train)))

0.6404950839404308

In [229]:
res = list(reg_model.predict(x_test))

In [230]:
np.sqrt(mean_squared_log_error(y_test, reg_model.predict(x_test)))

0.8081645102162911

In [232]:
for i, j in zip(y_test[10:50], reg_model.predict(x_test)[10:50]):
    print(i, j)

175.0 448.0
329.0 458.68083333333334
322.0 1156.5
345.0 545.2381818181818
299.0 316.7142857142857
190.0 565.0909090909091
90.0 459.5
375.0 511.3333333333333
199.0 696.6647963800905
455.0 296.6666666666667
391.0 633.8212408759124
150.0 261.0
301.0 228.5
4936.0 846.6
98.0 424.0825
570.0 400.44
601.0 459.7142857142857
559.0 625.0
929.0 1046.0
1200.0 481.4775
2695.0 501.26149999999996
2634.0 1471.6226136363634
225.0 633.8212408759124
1780.0 1780.0
117.0 633.8212408759124
130.0 1043.3333333333333
379.0 580.3333333333334
280.0 599.5
2742.0 418.0
410.0 244.5
158.0 357.0
520.0 440.6417021276596
2384.0 656.5436363636363
405.0 287.5
779.0 713.4625595238095
1799.0 644.0696666666666
177.0 514.7986792452831
1843.0 91.0
844.0 569.8263636363637
69.0 575.0

In [ ]:
f = np.array(res)

In [51]:
f = pd.DataFrame(f, columns=['Price'])

In [53]:
f.to_excel("submission.xlsx", index=None)